<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="px-3 my-3 col-md-4 text-center">会員情報編集</h3>
      <table class="table table-borderless">
        <%= form_with model: @customer, url: info_customers_path, method: :patch do |f| %>
        <tr>
          <th class="col-md-3 col-sm-4">氏名</th>
          <th class="col-md-8 col-sm-8"><%= f.text_field :last_name %> <%= f.text_field :first_name, class: "inline-block ml-3" %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana, class: "inline-block ml-3" %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= f.text_field :postal_code %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= f.text_field :address, class: "col-md-8" %></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= f.text_field :telphone_number %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= f.text_field :email %></th>
        </tr>
        <tr>
          <th><%= f.submit "編集内容を保存", class: "btn btn-lg btn-success" %></th>
          <th><%= link_to "退会する", quit_customers_path, class: "btn btn-lg btn-danger" %></th>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>