<% provide(:title, "商品詳細") %>
<div class= "container mt-5">
  <div class= "row">
    <div class= "col-md-5">
      <h2>商品詳細</h2>
       <% if @item.image.attached? %>
       <%= image_tag @item.image, size: "400x300" %>
       <% else %>
       <%= image_tag 'no_image', size: "200x200" %>
       <% end %>
    </div>
    <div class= "col-md-7" style="margin-top: 40px;">
      <div class="item-group">
        <label class="col-sm-4">商品名</label>
        <%= @item.name %>
      </div></br>
      <div class="item-introduction">
        <label class="col-sm-4">商品説明</label>
          <%= @item.introduction %>
      </div></br>
      <div class="item-genres">
         <label class="col-sm-4">ジャンル</label>
         <%= @item.genre.name %>
      </div></br>
      <div class="item-price-group">
        <label class="col-sm-4">
          税込価格<br>（税抜価格）
        </label>
          <span class="h5"><%= number_with_delimiter @item.price %></span>
          <span class="h5">(<%= number_with_delimiter @item.unit_price %>)円</span>
      </div></br>
      <div class="product-status">
        <label class="col-sm-4">
          販売ステータス
        </label>
        <% if @item.is_active == true %>
      	  <span class="text-success">販売中</span>
        <% elsif @item.is_active == false %>
      	  <span class="text-muted">販売停止中</span>
        <% end %>
      </div>
      <div class="text-left" style="margin-top:60px;">
　　　 <%= link_to "編集する", edit_admin_item_path(@item), class:"btn btn-lg btn btn-outline-success" %></td>
　　　</div>
    </div>
  </div>
</div>