<% provide(:title, "ホーム") %>
<div class="container mt-5">

	<div class="row mx-auto">
		<div class="col-2">
			<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center">ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <%= render "public/items/genres_search", genres: @genres %>
        </tbody>
      </table>
		</div>
		<div id="carouselExampleIndicators" class="carousel slide-box mx-auto" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		  </ol>
		  <div class="carousel-inner">
				<% @items.each do |it| %>
				  <div class="carousel-item <%= it == @items.first ? 'active' : '' %>">
			  	  <%= image_tag it.image, size: "620x400", alt: it.name, class: 'slide-image' %>
				  </div>
				<% end %>
		  </div>
		  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-12">
			<div class="new-item-box">
				<h3 >新着商品</h3>
				<div class="d-flex felx-wrap justify-content-around mt-3">
					<% @items.each do |item| %>
						<div>
							<%= link_to item_path(item) do %>
							  <%= image_tag item.image, size: "180x130", fallback: "no_image.jpg", class: "new-item-img" %>
							<% end %>
							<p class="text-center item-name"><%= link_to item.name, items_path(item), class: "item-name-link" %></p>

							<% if item.is_active == true %>
							  <p class="text-right">¥<%= number_to_currency((Float(item.unit_price) * 1.08), precision: 0) %> (税込)</p>
							<% elsif item.is_active == false %>
							  <p class="text-right">売切</p>
							<% end %>
						</div>
					<% end %>
				</div>
				<%= link_to "全ての商品を見る >", items_path, class: "float-right btn fas fa-cheese products-link mt-2" %>
			</div>
		</div>
	</div>

</div>