<% provide(:title, "配送先編集") %>
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h4>配送先編集</h4>
      <div><%= render "layouts/form_error_messages", model: @delivery %></div>
      <table class="table table-borderless">
        <%= form_with model: @delivery, method: :patch do |f| %>
          <tr>
            <th>郵便番号(ハイフン無し)</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_field :address, size: "65x5" %></td>
          </tr>
          <tr>
            <th>宛名</th>
            <td><%= f.text_field :attention %></td>
          </tr>
          <tr>
            <th><%= f.submit "変更内容を保存", class:"btn btn-success" %></th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>