<% provide(:title, "注文情報確認") %>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <h2 class="text-center title">注文情報入力</h2>
    <div><%= render "layouts/form_error_messages", model: @order %></div>
  </div>
  <div class="col-4"></div>
</div>
<div calss="row mx-auto">
  <div class="col-7 mx-auto">
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |c| %>
            <tr>
              <td class="text-left">
                <%= image_tag c.item.image, size: "60x50" %>
                <%= c.item.name %>
              </td>
              <td class="text-right">
                ¥<%= number_with_delimiter c.item.price %>-
              </td>
              <td class="text-right">
                <%= c.quantity %>
              </td>
              <td class="text-right">
                ¥<%= number_with_delimiter c.subtotal %>-
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4 ml-auto">
      <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th>送料</th>
          <td class="text-right col-xs-5">¥<%= number_with_delimiter @order.freight %>-</td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td class="text-right">¥<%= number_with_delimiter @total_amount %>-</td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td class="text-right">¥<%= number_with_delimiter @grand_total %>-</td>
        </tr>
      </table>
    </div>
    <dl>
      <dt>支払方法</dt>
        <dd><%= @order.payment_method %></dd>
      <dt>お届け先</dt>
        <dd>〒<%= "#{@order.postal_code} #{@order.address} #{@order.attention}" %></dd>
    </dl>
    <div class ="my-5">
      <%= form_with(model: @order, url: orders_path, method: :post, class: "text-center", local: true) do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :order_status, value: Order.order_statuses.key(0) %>
        <%= f.hidden_field :attention, value: @order.attention %>
        <%= f.hidden_field :postal_code, value: @order.postal_code %>
        <%= f.hidden_field :address, value: @order.address %>
        <%= f.hidden_field :freight, value: @order.freight %>
        <%= f.hidden_field :grand_total, value: @total_amount + @order.freight %>
        <%= f.hidden_field :payment_method, value: @order.payment_method %>
        <%= link_to "注文情報入力へ戻る", new_order_path, class: "btn btn-secondary btn-lg pull-left" %>
        <%= f.submit "注文を確定する", class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>